<div class="user-details">
  <h1> Featured Projects </h1>
</div>

{% for project in site.data.projects %}
<div class="user-projects">
  <div class="{% cycle 'images-right', 'images-left' %}">
    <img alt="{{ project.name }}" src="{{ project.image | prepend: site.baseurl }}" />
  </div>
  <div class="{% cycle 'contents', 'contents-right' %}">
    <h3> {{ project.name }} </h3>
    <!-- <ul>
      {% for skill in project.skills %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul> -->
    <p>{{ project.description }}</p>

    <div>
    {% for link in project.links %}
      <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
